img{
    border-radius : 10px;
    border : 2px solid rgb(169, 32, 32);
    height : 200px;
    position : relative;
    left : 18%;
    top : 20px;
    bottom : 15px;
  


  

}

h1{
    text-align : center;
    top : 1500px;
    color: rgb(248, 243, 242);
    font: bold 40px Arial, serif;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);

    

}

h3{
    text-align : center;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    color: rgb(240, 240, 240);
    font: italic 20px sans-serif, serif;
}

a{
    position : relative;
    left : 40%;
    top : 5px;
}

audio{
    
    position: relative;
    left : 17%;
    top : 20px;
    border-radius: 2%;
    border: 2px solid rgb(234, 63, 57);
}

pre{
    text-align: center;
    font: italic 25px Arial, serif;
    color: rgb(240, 240, 240);
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
.music{
    position: center;
    font: italic 20px Arial, serif;
    color: blueviolet;
    
}
.music_png{
    height : 20px;
    position: relative;
    bottom: 5px;
    border-radius: 1%;
    left : 170px;
    top : 7px;
}
.music_css{
    position: relative;
    top: 100px;
    right: 10px;
   


}

body{
  background: linear-gradient(rgb(255, 120, 135), rgb(240, 149, 219));
}

p{
    text-align : center;
    color: rgb(240, 240, 240);
    font: italic 15px sans-serif, serif;
}